.directory-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 3rem;
}

.directory-container {
    width: 30%;
    box-shadow: 0 0 6.1px 0.9px rgba(0,0,0,.3);
    height: 100%;
}

.directory-container > *:focus {
    outline: none;
}

.directory-results {
    padding: 2rem;
}