.directory-container {
    min-width: 300px;
    position: absolute;
    left: 0;
    top: 3rem;
    box-shadow: 0 0 6.1px 0.9px rgba(0,0,0,.3);
    height: 100vh;
}

.directory-container > *:focus {
    outline: none;
}
